{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Исполнители{% endblock %}
{% block navbar_menu %}
{{ macros.application_menu(1, current_user) }}
{% endblock %}
{% block page_content %}
<div class="container-fluid">
    {% if current_user.is_authenticated %}
    <h1>Привет, {{ current_user.name_first }}</h1>
    {% endif %}
    <div class="text-center">
        <h2>Раздел находится в разработке</h2>
        <img src="{{ url_for('static', filename='img/dump.png') }}?ver={{ context['app_version'] }}" alt="development">
    </div>
</div>
{% endblock %}
