{% extends "base.html" %}
{% block title %}Исполнители{% endblock %}
{% block head %}
{{ super() }}
<!--<link rel="stylesheet" href = "{{ url_for('static', filename='css/accounts.css') }}?ver={{ context['app_version'] }}">-->
{% endblock %}
{% block page_name %}
<a class="navbar-brand" href="#">Исполнители</a>
{% endblock %}
{% block navbar_menu %}
<ul class="nav navbar-nav">
    {% if current_user.is_administrator %}
    <li><a href="{{ url_for('accounts.index') }}">Пользователи</a></li>
    {% endif %}
</ul>
{% endblock %}
{% block page_content %}
{% if current_user.is_authenticated %}
<h1>Привет, {{ current_user.name_first }}</h1>
{% endif %}
{% endblock %}
