.navbar-brand > img {
    width: 24px;
    margin-top: -2px;
    margin-left: -2px;
}

/*
div.navbar {
    background-color: #A2D9CE;
}

a.navbar-brand {
    color: #000 !important;
}

ul.navbar-nav > li > a {
    color: #666 !important;
}
*/

div.pagination {
    margin: 0;
    width: 100%;
    text-align: center;
}

.emptylist {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 2em;
    margin-top: 32px;
}

.empty-box-16 {
    height: 16px;
}

.hidden { display: none; }

table {
    /* font-size: .85em; */
    cursor: default;
}

@media (max-width: 1230px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
