<div class="container">
    {% if context['users'] %}
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in context['users'] %}
            <tr class="user">
                <td>{{ user.name_first }}</td>
                <td>
                    {{ macros.role_image(user) }}
                    {{ user.role_name }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if context['pagination'] and context['users'] %}
        <div class="pagination">
            {{ macros.pagination_widget(context['pagination'], '.index') }}
        </div>
    {% endif %}
    {% else %}
    <div class="nousers">Список пользователей пуст</div>
    {% endif %}
</div>
