<div class="container-fluid">
    {% if context['users'] %}
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm_2">Имя Фамилия</th>
                <th class="col-sm-2">Насел.пункт</th>
                <th class="col-sm-3">Организация</th>
                <th class="col-sm-2 hidden-xs">Контакты</th>
                <th class="col-sm-2 hidden-md hidden-sm hidden-xs">Роль</th>
                <th class="col-sm-1 hidden-md hidden-sm hidden-xs">Дополн.</th>
            </tr>
        </thead>
        <tbody>
            {% for user in context['users'] %}
            <tr class="user edituser" id="{{ user.id }}">
                <td>
                    {{ user.name_first }} {% if user.name_last %}{{ user.name_last }}{% endif %}
                </td>
                <td>{% if user.city %}{{ user.city }}{% endif %}</td>
                <td>{% if user.company %}{{ user.company }}{% endif %}</td>
                <td class="hidden-xs">{% if user.contacts %}{{ user.contacts }}{% endif %}</td>
                <td class="hidden-md hidden-sm hidden-xs">
                    {{ macros.role_image(user) }}
                    {{ user.role_name }}
                </td>
                <td class="toolrelative">
                    {% if user.has_password %}
                    <img class="lockedtool" src="{{ url_for('static', filename='img/locked.png') }}" title="Защищен паролем"/>
                    {% endif %}
                    <div class="usertool" id="edit{{ user.id }}" style="display: none">
                        <span class="glyphicon glyphicon-pencil usertool-icon" aria-hidden="true"></span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if context['pagination'] and context['users'] %}
        <div class="pagination">
            {{ macros.pagination_widget(context['pagination'], '.index') }}
        </div>
    {% endif %}
    {% else %}
    <div class="emptylist">Список пользователей пуст</div>
    {% endif %}
</div>
