{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Пользователи{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static', filename='css/accounts.css') }}?ver={{ context['app_version'] }}">
{% endblock %}
{% block navbar_menu %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('performers.index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Исполнители</a></li>
    <li><a href="{{ url_for('feast.index') }}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Фестиваль</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Проживание</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Питание</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Доставка</a></li>
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Настройки <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Пользователи</a></li>
            <li><a href="#">Гостиницы</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('categories.gengroups') }}">Классификаторы</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
{% block page_content %}
<div class="container">
    <h3>Пользователи приложения</h3>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger btn-block" style="display: none;" id="deleteusers">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
            </button>
        </div>
        <div class="col-sm-2 col-sm-offset-8">
            <a class="btn btn-primary btn-block" href="{{ url_for('accounts.newuser') }}" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать
            </a>
        </div>
    </div>
</div>
{% include 'accounts/_users.html' %}
<form id="form_deleteusers" action="{{ url_for('accounts.deleteusers') }}" method="post"></form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/accounts/index.js') }}?ver={{ context['app_version'] }}"></script>
{% endblock %}
