{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Пользователи{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static', filename='css/accounts.css') }}?ver={{ context['app_version'] }}">
{% endblock %}
{% block navbar_menu %}
{{ macros.application_menu(0, current_user) }}
{% endblock %}
{% block page_content %}
<div class="container-fluid">
    <h3>Пользователи приложения</h3>
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger btn-block" style="display: none;" id="deleteusers">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
            </button>
        </div>
        <div class="col-sm-2 col-sm-offset-8">
            <a class="btn btn-primary btn-block" href="{{ url_for('accounts.newuser') }}" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать
            </a>
        </div>
    </div>
</div>
<div class="empty-box-16"></div>
{% include 'accounts/_users.html' %}
{% include '_modalOkCancel.html' %}
<form id="form_deleteusers" action="{{ url_for('accounts.deleteusers') }}" method="post"></form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/accounts/index.js') }}?ver={{ context['app_version'] }}"></script>
{% endblock %}
