{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Профиль пользователя{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static', filename='css/accounts.css') }}?ver={{ context['app_version'] }}">
{% endblock %}
{% block navbar_menu %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('.index') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Пользователи</a></li>
</ul>
{% endblock %}
{% block page_content %}
<div class="container-fluid">
    {% if context['form'].edit %}
    <form class="form" action="{{ url_for('.edituser', user_id=context['user'].id) }}" method="post">
    {% else %}
    <form class="form"  action="{{ url_for('.newuser') }}" method="post">
    {% endif %}
        <div class="row">
            <div class="col-sm-12 form-group">{{ context['form'].login }}</div>
        </div>
        <div class="empty-box-16"></div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="name_last">{{ context['form'].name_last.label }}</label>
                {{ context['form'].name_last }}
            </div>
            <div class="col-sm-4 form-group">
                <label for="name_first">{{ context['form'].name_first.label }}</label>
                {{ context['form'].name_first }}
            </div>
            <div class="col-sm-4 form-group">
                <label for="name_middle">{{ context['form'].name_middle.label }}</label>
                {{ context['form'].name_middle }}
            </div>
        </div>
        <div class="empty-box-16"></div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="email">{{ context['form'].email.label }}</label>
                {{ context['form'].email }}
            </div>
            <div class="col-sm-8 form-group">
                <label for="contacts">{{ context['form'].contacts.label }}</label>
                {{ context['form'].contacts }}
            </div>
        </div>
        <div class="empty-box-16"></div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="city">{{ context['form'].city.label }}</label>
                {{ context['form'].city }}
            </div>
            <div class="col-sm-8 form-group">
                <label for="company">{{ context['form'].company.label }}</label>
                {{ context['form'].company }}
            </div>
        </div>
        <div class="empty-box-16"></div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="role">{{ context['form'].role.label }}</label>
                {{ context['form'].role }}
            </div>
            <div class="col-sm-8 form-group">
                <!--{{ wtf.quick_form(context['form']) }}-->
                <span class="label label-info">Описание роли</span>
                <span class="help-block" id="role-description"></span>
            </div>
        </div>
        {{ context['form'].csrf_token }}
    </form><div class="empty-box-16"></div>
    <div class="row">
        <div class="col-sm-2">
            {% if context['form'].edit %}
            <button type="button" class="btn btn-danger btn-block" id="deleteuser">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
            </button>
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% if context['form'].edit %}
            <button type="button" class="btn btn-warning btn-block" id="resetpassword">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Сбросить пароль
            </button>
            {% endif %}
        </div>
        <div class="col-sm-2 col-sm-offset-6">
            {% if context['form'].edit %}
            <button type="button" class="btn btn-primary btn-block" id="saveuser">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить
            </button>
            {% else %}
            <button type="button" class="btn btn-primary btn-block" id="newuser">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Создать
            </button>
            {% endif %}
        </div>
    </div>
</div>
<div class="empty-box-16"></div>
{% include '_modalOkCancel.html' %}
{% if context['form'].edit %}
<form id="form_deleteuser" action="{{ url_for('accounts.deleteuser') }}" method="post">
    <input type="hidden" name="login" value="{{ context['form'].login.data }}"/>
</form>
<form id="form_resetpassword" action="{{ url_for('accounts.resetpassword') }}" method="post">
    <input type="hidden" name="login" value="{{ context['form'].login.data }}"/>
</form>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
{% if context['form'].edit %}
<script src="{{ url_for('static', filename='js/accounts/profile_edit.js') }}?ver={{ context['app_version'] }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/accounts/profile_new.js') }}?ver={{ context['app_version'] }}"></script>
{% endif %}
{% endblock %}