{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Создание пароля{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static', filename='css/accounts.css') }}?ver={{ context['app_version'] }}">
{% endblock %}
{% block navbar_menu %}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('.login') }}">&lt;&lt; Назад</a></li>
</ul>
{% endblock %}
{% block page_content %}
<div class="container loginbox">
    <div class="loginbox-header">FeastManage</div>
    <span class="help-block">Придумайте пароль к своей учетной записи (не менее 6 символов)</span>
    <div>
        {{ wtf.quick_form(context['form']) }}
    </div>
</div>
{% endblock %}
